# App
APP_PORT=8080
APP_ENV=development
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=taskflow
DB_PASSWORD=taskflow
DB_NAME=taskflow
DB_SSLMODE=disable

# JWT
JWT_ACCESS_SECRET=8daaebfc5019945ff6eeab47b7d6a149f199c1930a0e65297195bf6d055c0a6d
JWT_REFRESH_SECRET=0cb4e45f6ae61807e9de523192cb40c3eb328945b65cc1d7f6e105e5761813a0
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h
